html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #E5E5E5;
}

.mat-card-image, .mat-card-image:first-child {
  margin: 0 !important;
}



